.theGame{
    position: fixed;     
    top: 25%;
    left: 35%;
    background: white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: gray;
    
}

.gameHead{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}


.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.9em;
  margin-left: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: white;
  outline: 0;
}


.first {
  border-color: #3498db;
  color: white;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}



.gameBody{
    padding-left: 15px;
}

 .grid {
   display: flex;
   flex-wrap: wrap;
   width: 370px;
   margin-bottom: 10px;
}


.grid > .checked {
    opacity: .15;
}
            
.grid > img {
     width: 25px;
     height: 25px;
     border: 2px solid #2b2b2b;          
}